* {
    box-sizing: border-box;
}

body {
    background-color: #e3e3e1;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
}

h2 {
    text-align: center;
    margin: 30px;
    color: #020bf5;
}

table {
    margin: 0 auto;
    border: 2px solid #fc0303;
    width: 70%;
}

thead {
    background-color: #f55d5d;
}

.header {
    text-align: left;
}

.code {
    font-family: monospace;
    background-color: #b0f98e;
}

h3 {
    text-align: center;
    text-decoration: underline;
}



